<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">
	<select id="getList" parameterType="fileDto" resultType="fileDto">
		select num, writer,title, orgFileName, saveFileName, fileSize, regdate 
		from board_file
	</select>
	<select id="getCount" parameterType="fileDto" resultType="int">
		select nvl(max(rownum),0)
		from board_file
	</select>
</mapper>