<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isExist" parameterType="string" resultType="string">
		select id 
		from users
		where id=#{inputId}
	</select>
	<insert id="insert" parameterType="usersDto">
		insert into users
		(id, pwd, email, regdate)
		values (#{id}, #{pwd}, #{email}, sysdate)
	</insert>
	<select id="getData" parameterType="string" resultType="usersDto">
		select id , pwd, email, profile, to_char(regdate, 'yy.mm.dd hh24"시"mm"분"')as regdate
		from users
		where id=#{id}
	</select>
</mapper>